<mat-toolbar color="primary">Github Profile Viewer</mat-toolbar>
<div class="usercard">
  <form class="example-form" [formGroup]="searchBox">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Github user name" formControlName="searchText">
    </mat-form-field><br>
    <button mat-raised-button color="primary" (click)="onSubmit(searchBox)">Find me</button>
  </form><br>
  <mat-spinner *ngIf="dataLoading"></mat-spinner>
  <mat-card class="example-card" *ngIf="data">
    <mat-card-header>
      <mat-card-title>{{name}}</mat-card-title>
      <mat-card-subtitle>{{location}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src={{src}}>
  </mat-card>
  <mat-card style="background-color: rgb(56, 56, 182);" *ngIf="noDatafound">No data found</mat-card>
</div>